doctype html
html(lang="ja")
  include ../_meta/head.pug
  body
    include ../_components/header.pug
    block contents
    include ../_components/footer.pug
    include ../_components/modalOverlay.pug