.mod-fixedFooter
  p.keyMsg
    span inov
    span.icon-Coin
    span を使って
    br
    span 実現を支援しよう
  p.accountRemain
    span.remainLabel 残高
    span.remainNum 100
    span.remainSuffix inov
    span.icon-Coin
div.footer
  p.copyright
    span ©2018　Inov Japan
  p.policy
    span
      a(href="https://brest.nabimoon.com/terms") 利用規約