div.teacherHead
  img(src="img/try.png" height="25")
  span.teacherAddress 東京都
div.teacherInfo
  div.qItem.tIcon
    img(src="https://pbs.twimg.com/profile_images/975540150687096832/8__Ign9Q_normal.jpg" height="85")
  ul.qItem.infomation
    h3.name 齊藤名人 先生
    li.answerCount
      span Q&A回答数： 110件
    .tagList
      ul
        li
          span 個人
        li
          span 家庭教師
  .selfIntroPreview
    p
      span 株式会社LIFULL 2016年奈良高専情報工学科卒業 3年目のWebエンジニア ●生年月日　1995年5月8日生まれ ●特徴　メガネ　長身　色黒　話
      span ...