@charset "UTF-8";
$body: #333;
// specific color
$green: #bee09f;
$mediumGreen: #879e71;
$darkGreen: #239348;
$blackGreen: #196b33;
$blue: #0598e1;
$blackBlue: #2560a0;
$white: #fefefe;
$lightGray: #eee;
$gray: #777;
$red: #ce1f1f;
$orange: #fd7e14;
$purple: #551a8b;
$pink: #e64980;
$yellow: #ffe066;
$lightGreen: #fcecaf;
$emerald: #15aabf;
$cyan: #aef1fa;